{
  "extends": [
    "../.eslintrc",
    "eslint-config-airbnb",
    "plugin:react-hooks/recommended",
  ],
  "settings": {
    "import/resolver": "webpack",
  },
  "rules": {
    "react/jsx-curly-brace-presence": "off",
    "react/destructuring-assignment": "off"
  }
}
