{
  "extends": [
    "../.eslintrc",
    "eslint-config-airbnb",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "rules": {
    "react/jsx-curly-brace-presence": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-props-no-spreading": 1,
    "default-param-last": 0,
    "import/extensions": ["error", "ignorePackages"]
  },
  "env": {
    "browser": true
  }
}
